@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
    --background: #1c2c34;
    --background-shadow: #17232a;
    --cell: #1c3444;
    --cell-shadow: #0e1f26;
    --circle: #f4b434;
    --circle-shadow: #c08c29;
    --cross: #34c4bc;
    --cross-shadow: #1b6560;
    --reset: #acc4cc;
    --reset-shadow: #607a88;
    --dark-blue: #0b2b38;
    --modal: #1f3540;
    --backdrop: rgba(0, 0, 0, 0.5);
    --secondary-font: Fredoka One, cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol-x {
    color: var(--cross);
}

.symbol-o {
    color: var(--circle);
}

.header,
.container,
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
}
